<div class="container">
    <div class="container">
        <h1>Agregar Productos</h1>
        <form action="./realtimeproducts" method="POST" id="productForm">
            <label for="code">Código</label>
            <input type="text" id="code" name="code" required>
        
            <label for="title">Título</label>
            <input type="text" id="title" name="title" required>
            
            <label for="priceList">Precio</label>
            <input type="text" id="priceList" name="priceList" required>
            
            <label for="description">Descripción</label>
            <input type="text" id="description" name="description" required>
            
            
            <label for="stock">Stock</label>
            <input type="text" id="stock" name="stock" required>
            
            <label for="category">Categoría</label>
            <select id="category" name="category" required>
                <option value="botiquin">Botiquín</option>
                <option value="aromaterapia">Aromaterapia</option>
                <option value="frecuente">Frecuente</option>
            </select>
            
    
            
            <input type="hidden" id="status" name="status" value="true">
            
            <button type="submit" id="submitBtn">Agregar Producto</button>
        </form>
    <h1>LISTA DE PRODUCTOS</h1>

    <ul>
        
        {{#each products}}
            <li>
                <span>{{this.code}}</span>
                <span>{{this.title}}</span>
                <span>{{this.description}}</span>
                <span>${{this.priceList}}</span>
            </li>
        {{/each}}
    </ul>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.1/dist/sweetalert2.all.min.js"></script>
<script type="module">
    const url = "";
    const option = {};
    const socketClient = io(url,option);
    
    

    socketClient.on("connect", () => {
        console.log(`connected to ${url}`);

        socketClient.on('newProduct', (product) => {
        console.log('Nuevo producto agregado:', product);
        
        const productList = document.getElementById('productList');
            const newProductElement = document.createElement('li');
            newProductElement.innerHTML = `
                <span class="product-name">${product.title}</span>
                <span class="product-price">$${product.priceList}</span>
            `;
            productList.appendChild(newProductElement);
        });
    });
        
    

</script>