<div class="container">
    <h1>LISTA DE PRODUCTOS</h1>

    <ul>
        
        {{#each products}}
            <li>
                <span>{{this.code}}</span>
                <span>{{this.title}}</span>
                <span>{{this.description}}</span>
                <span>${{this.priceList}}</span>
            </li>
        {{/each}}
    </ul>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.1/dist/sweetalert2.all.min.js"></script>
<script type="module">
    const url = "";
    const option = {};
    const socketClient = io(url,option);

    socketClient.on("connect", () => {
        console.log(`connected to ${url}`);

        Swal.fire{
            title: 'Conectado', 
            icon: 'success',
            confirmButtonText: 'Aceptar',
            showCancelButton: false,
            timer: 2000
        }
        }
    });


</script>