body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #03020298;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #555;
}
ul {
   
    padding: 0;
}
li {
    background: #e9e9e9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li:nth-child(odd) {
    background: #7d7373;
}

.product-name{
    font-weight: bold;
}
.product-price {
    color: #888;
}

.form-control:focus, .form-select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
  }
  
  .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }
  
  .list-group-item {
    border-color: var(--border-color);
    transition: background-color 0.3s ease;
  }
  
  .list-group-item:hover {
    background-color: rgba(52, 152, 219, 0.1);
  }
  
  .badge {
    font-size: 0.8em;
  }
  
  .pagination .page-link {
    color: var(--primary-color);
  }
  
  .pagination .page-link:hover {
    background-color: var(--primary-color);
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .container {
      margin-top: 1rem;
    }
  }